<!DOCTYPE html PUBLIC 
	"-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Ben Lovell's Blog</title>
		<link rel="stylesheet" type="text/css" 
					href="$siteroot/content/css/default.css"/>
</head>
<body>
	<h1>Ben Lovell's Blog</h1>
	<div id="maincontent">$childcontent</div>
	<div id="footer">All blog content &copy; Ben Lovell 2008</div>
</body>
</html>
