<?xml version="1.0"?>
<configuration>
	<components>
		<component id="blogpostservice"
							 service="BenLovell.BlogEngine.Core.IBlogPostService, BenLovell.BlogEngine.Core"
							 type="BenLovell.BlogEngine.Core.Services.BlogPostService, BenLovell.BlogEngine.Core" 
							 lifestyle="transient" />

		<component id="blogpostrepository"
							 service="BenLovell.BlogEngine.Core.IBlogPostRepository, BenLovell.BlogEngine.Core"
							 type="BenLovell.BlogEngine.Core.Repositories.BlogPostRepository, BenLovell.BlogEngine.Core"
							 lifestyle="transient" />
		
	</components>	
</configuration>

