<?xml version="1.0"?>
<configuration>
	<components>
		<component id="blogpostmapper"
							 service="BenLovell.BlogEngine.Core.IBlogPostMapper, BenLovell.BlogEngine.Core"
							 type="BenLovell.BlogEngine.Core.Mappers.BlogPostMapper, BenLovell.BlogEngine.Core" />
	</components>
</configuration>

