$Form.FormTag("%{action='save'}")
	<fieldset>
		<legend>Add Post</legend>
		<div>
			$Form.LabelFor("post.Title", "Title")
			$Form.TextField("post.Title")
		</div>
		<div>
			$Form.LabelFor("post.Description", "Description")
			$Form.TextField("post.Description")
		</div>
		<div>
			$Form.LabelFor("post.Content", "Content")
			$Form.TextArea("post.Content")
		</div>
		<div>$Form.Submit("Submit")</div>
	</fieldset>
$Form.EndFormTag()